body{
  background-color: black;
}

.container{
  color: lime;
  background-color: black;
  border: solid 3px lime;
  height: 140px;
  width: 100%;
}

.div_div_p{
  font-family: Arial Black;
  float: right;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 50px;
  border-left: lime 1px solid;
  font-size: 30px;
}

div > div > p a{
  text-decoration: none;
  color: inherit;
}

.div_div{
  margin-right: 65px;
}

.div{
  
}

p.active{
  text-decoration: underline;
}