body {
	background-color: #212121;

}

*	{
	font-family: Times New Roman;
}

nav {
	background-color: darkgray;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding:0;
}

nav > ul > li > a.a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 20px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

nav > ul > li.a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: #263238;
}

nav > ul > li {
	float: left;
	display: inline-block;
}

nav > ul > li.settings img {
	padding: 0;
	margin: 0;
	border-radius: 50%;
}

nav > ul > li.settings {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

nav > ul > li:hover{
	background-color: #263238;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #263238;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
}

#myBtn:hover {
	background-color: black;
}

.body {
	margin-top: 100px;
}

.img-bg {
	margin-top: 50px;
	background-color: black;
	width: 330px;
	height: 315px;
	padding-top: 15px;
	border-radius: 20px;
}

.img-bg1 {
	margin-top: 50px;
	background-color: black;
	width: 330px;
	height: 60px;
	padding-top: 15px;
	border-radius: 20px;
}

.img {
	border-radius: 20px;
}

.start {
	font-size: 50px;
	background-color: black;
	height: 60px;
	font-family: Showcard Gothic;
	color: white;
	border-radius: 10px;
	width: 330px;
}

.start1 {
	font-size: 50px;
	background-color: black;
	height: 120px;
	font-family: Showcard Gothic;
	color: white;
	border-radius: 10px;
	width: 330px;
}

.start:hover{
	background-color: #263238
}

a {
	text-decoration: none;
}

.yntlf {
	font-size: 40px;
	background-color: black;
	height: 60px;
	font-family: Showcard Gothic;
	color: white;
	border-radius: 10px;
	width: 750px;
}





a.forget {
	text-decoration: none;
	font-family: Times New Roman;
	color: white;
	font-size: 20px;
}

.login-box{
	width: 320px;
	height: 420px;
	background-color: black;
	color: #000;
	top: 450px;
	right: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 10px;
}

.logo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -10%;
	left: calc(50% - 50px);
}

p.h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: showcard gothic;
}
p.p {
	color: white;
	margin: 10;
	padding: 0;
	font-size: 20px;
}
input{
	width: 100%;
	margin-bottom: 20px;
}

input[name=pass], [name=email]{
	border: none;
	border-bottom: 1px solid white;
	background: none;
	height: 40px;
	color: white;
}
input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	border-radius: 30px;
	background: white;
	color: white;
	font-size: 20px;
}


p.h4{
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: showcard gothic;
	margin: 0px;
}
input[type=text], [type=password], [type=date], [type=email], select{
	width: 100%;
	padding: 5px;
	margin: 8px 0;
	display: inline-block;
	border: none;
	background: none;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	color: white;
	
}

.sign{
	width: 320px;
	height: 420px;
	background: black;
	color: white;
	top: 450px;
	left: 70%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 10px;
}

label{
	color: white;
}

input[type=submit] {
	width: 100%;
	height: 40px;
	border-radius: 30px;
	background-color: #263238;
	outline: none;
	border: none;
	color: white;
}

input[type="submit"]:hover{
	background: white;
	cursor: pointer;
	color: black;
}

.n {
	background-color: black;
	width: 80%;
	height: 450px;
	margin-top: 30px;
	border-radius: 20px;


}

.m {
	font-size: 40px;
	color: white;
	font-family: Showcard Gothic;
	background-color: black;
	width: 330px;
	border-radius: 10px;
}

.oo {
	float: left;
	width: 33%;
	font-size: 20px;
	font-family: Showcard Gothic;
	color: white;
	margin-right: 1px;
	margin-left: 1px;
	padding-top: 40px;
}

.ooo {
	border-radius: 20px;
}
.r {
	border-radius: 20px;
}

.t {
	background-color: black;
	border-radius: 20px;
	width: 80%;
	color: white;
	font-size: 25px;
	font-family: Franklin Gothic Medium;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 30px;

}

.y {
	font-size: 50px;
	color: white;
	font-family: Showcard Gothic;
	background-color: black;
	width: 350px;
	border-radius: 10px;
}

.p {
	float: left;
	border-radius: 50%;
	margin-left: 40px;
}


.i {
	height: 300px;
	border-radius: 20px;
	width: 70%;
	margin-left: 370px;
	background-color: black;
	font-size: 25px;
	font-family: Franklin Gothic Medium;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 5px;
	color: white;
}

.sirray{
	font-size: 50px;
	color: white;
	font-family: Showcard Gothic;
	background-color: black;
	width: 330px;
	border-radius: 10px;
}

.prog {
	font-size: 40px;
	font-family: Showcard Gothic;
	color: white;
	background-color: black;
	border-radius: 20px;
	width: 500px;
	height: 100px;
}

.prog1 {
	font-size: 30px;
	font-family: Showcard Gothic;
	color: white;
	background-color: black;
	border-radius: 20px;
	width: 700px;
	height: 60px;
	padding-top: 0px;
}

.imagegallery {
	width: 100%;
	background-color: black;
	border-radius: 20px;
	margin-top: 20px;
	height: 1600px;
	padding-top: 10px;
}

.imagegallery1 {
	width: 100%;
	background-color: black;
	border-radius: 20px;
	margin-top: 20px;
	height: 2500px;
	padding-top: 10px;
}

.imagegallery2 {
	width: 100%;
	background-color: black;
	border-radius: 20px;
	margin-top: 20px;
	height: 4000px;
	padding-top: 10px;
}

.items {
	float: left;
	margin: 5px;
	padding-left: 2.5px;

}

.imageaaa{
	width: 320px;
	height: 180px;
	border-radius: 20px;

}

hr {
	background-color: black;
	line-height: 10px;
}

.head {
	font-size: 30px;
}

a {
	color: white;
}

.download {
	background-color: #263238;
	margin-top: 10px;
	font-size: 50px;
	border-radius: 5px;
	color: white;
	width: 300px;
	transition: 2s;
}

.download:hover {
	background-color: black;
	font-size: 100px;
}

.us {
	width: 100%;
	border-radius: 10px;
	height: 400px;
	background-color: black;
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
}

.qwerty {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.desc {
	color: white;
	font-family: Showcard Gothic;
	font-size: 25px;
	text-align: center;
}